.btn {
  border: var(--border) !important ;
  border-radius: $btn-radius;
  padding: 0.5rem 1.5rem;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white) !important;
  &:hover {
    background-color: #a59ecc;
    border: 1.5px solid #a59ecc !important;
  }
}
.btn-outline-secondary {
  &:hover {
    background-color: #a59ecc;
    color: var(--white) !important;
    border: 1.5px solid #a59ecc !important;
  }
}
