.cb-offers {
  .card-wrapper {
    .cb-offers-swiper {
      padding-bottom: 1.5rem !important;
    }
    .card {
      padding: 0;
      .card-header {
        height: 60px;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
      }
      .card-title {
        font-size: 1rem;
        line-height: 1.25rem;
      }
      .cb-text {
        font-size: 0.875rem;
      }
      .due-date {
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 600;
      }
    }
    .pagination {
      .cb-card-button-next {
        svg {
          z-index: 1;
          position: absolute;
          transform: translatey(-50%);
          top: 50%;
          right: -40px;
        }
      }
      .cb-card-button-prev {
        svg {
          z-index: 1;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
        }
      }
    }
  }
}
