@mixin color($bg-color) {
  background-color: $bg-color;
  border-radius: 2.5rem;
  flex-direction: column;
  max-width: 380px;
}

@mixin bagdeBorder($border-color) {
  border: 2px solid $border-color;
  background-color: var(--white);
  color: #101010;
  padding: 0.75rem 1.5rem;
  top: -5%;
  font-size: 1.125rem;
  font-weight: 500;
}

@mixin joinHead($color, $weight) {
  color: $color;
  font-weight: $weight;
  font-size: 2rem;
  text-align: center;
}
