header {
  .search-field-form {
    .form-control {
      border-radius: $btn-radius !important;
      border: 1px solid $purple !important;
      position: relative;
      &:focus {
        box-shadow: $shadow-btn;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
  background: #faf8ff;
  .header-wrapper {
    border-bottom: 1.5px solid $purple;
    .btn-wrapper {
      .btn-sign-in {
        color: var(--primary-color) !important;
        &:hover {
          background-color: #a59ecc;
          color: var(--white) !important;
          border: 1.5px solid #a59ecc !important;
          box-shadow: $shadow-btn;
        }
      }
      .btn-sign-up {
        box-shadow: $shadow-btn;
        &:hover {
          background-color: #a59ecc !important;
          border: 1.5px solid #a59ecc !important;
        }
      }
    }
  }
  .header-nav-links {
    a {
      padding-left: 0;
      padding-right: 0;
      font-weight: 500;
      &:hover {
        color: var(--primary-color) !important;
      }
    }

    .active {
      color: var(--primary-color) !important;
    }
  }
}
