.how-it-works {
  padding-top: 31.5%;
  background-size: cover;
  background-repeat: no-repeat;
  .hiw-wrapper {
    background-color: var(--white);
    max-width: 560px;
    width: 100%;
    border-radius: 1.5rem;
    top: 5%;
    padding: 2rem;
    .hiw-heading-wrapper {
      padding-bottom: 1rem;
      .hiw-heading {
        font-size: 1.625rem;
        line-height: 2.5rem;
      }
    }
    .hiw-content {
      .hiw-title {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
      .hiw-text {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--secondary-text);
      }
    }
  }
}
