.search-field-form {
  .form-control {
    border-radius: 30px !important;
    border: 1px solid $purple !important;
    outline: 0;
    position: relative;
    box-shadow: none !important;
  }
  svg {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}
