.refer-and-earn-section {
  .share-and-earn {
    border-radius: 2.5rem;
    background-color: #c9d5ff;
    flex-direction: column;
    .details-wrapper {
      .get-text {
        font-size: 2rem;
      }
      .earn-text {
        font-size: 1.125rem;
      }
      .time-text {
        font-size: 1.5rem;
      }
    }
  }
}
