.section-nav {
  .section-nav-btn {
    border: var(--border);
    padding: 0.5rem 1rem !important;
    display: block;
    border-radius: 999px;
  }
  .active {
    background: var(--primary-color);
    color: var(--white) !important;
  }
}
