.top-shopping-store {
  .card-wrapper {
    .grid-card-swiper {
      padding-bottom: 2rem;
    }
    .swiper-slide {
      height: 0% !important;
    }
    .pagination {
      .os-button-next {
        svg {
          z-index: 1;
          position: absolute;
          transform: translatey(-50%);
          top: 45%;
          right: -40px;
        }
      }
      .os-button-prev {
        svg {
          z-index: 1;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 45%;
        }
      }
    }
    .cb-details {
      height: 3.5rem;
      font-weight: 500;
      overflow: hidden;
      word-wrap: break-word;
      display: -webkit-box;
      line-height: 1.625rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
