.card-wrapper {
  position: relative;
  .card-swiper,
  .deals-swiper {
    padding-bottom: 1.5rem !important;
  }
  .card {
    border-radius: $card-radius;
    box-shadow: $shadow-card;
    padding: 1rem 0.625rem;
    background-color: var(--white);
    .card-image-wrapper {
      border-bottom: 1.5px dashed $purple;
      .card-image {
        margin: auto;
        padding: 0.313rem 0.313rem 1rem 0.313rem;
        max-width: 8.25rem;
      }
    }
    .card-body {
      .card-title {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 3rem;
        line-height: 1.625rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
      .card-text {
        color: var(--secondary-text);
        font-size: 0.75rem;
        margin-bottom: 0.2rem;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
  }
  .pagination {
    .card-button-next {
      z-index: 1;
      top: 35%;
      right: -35px;
    }
    .card-button-prev {
      z-index: 1;
      top: 35%;
      left: -35px;
    }
  }
}
.cb-text {
  margin-bottom: 0px;
  color: var(--primary-color);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.header-img {
  max-width: 90px;
  margin: 0 auto;
}
.card-header {
  background-color: var(--white);
  border-bottom: none;
}
